{
  "extends": ["stylelint-config-standard", "stylelint-config-styled-components", "stylelint-config-rational-order"],
  "rules": {
    "order/properties-order": [],
    "plugin/rational-order": [
      true,
      {
        "border-in-box-model": false,
        "empty-line-between-groups": true
      }
    ],
    "declaration-empty-line-before": null,
    "indentation": [ 2, { baseIndentLevel: 1 } ],
  }
}